$blue-bg: rgb(38, 51, 85);
$lightblue-fg: rgb(134, 161, 179);
$tan-fg: rgb(202, 186, 180);
$darktan-fg: rgb(177, 135, 107);
$brown-fg: rgb(140, 99, 71);
$darkbrown-fg: rgb(124, 81, 56);

$solarflare-bg: #18262f;
$solarflare-fg: #a6afb8;

$blockquote-bg: rgb(35, 26, 26);
$blockquote-fg: rgb(143, 136, 132);
