$blue-bg: rgb(17, 31, 46);
$lightblue-fg: rgb(207, 237, 211);
$tan-fg: rgb(240, 206, 176);
$darktan-fg: rgb(253, 143, 83);
$brown-fg: rgb(250, 114, 76);
$darkbrown-fg: rgb(229, 79, 64);

$solarflare-bg: #18262f;
$solarflare-fg: #a6afb8;

$blockquote-bg: rgb(35, 26, 26);
$blockquote-fg: rgb(143, 136, 132);
