@import "colors";

.pfp {
  margin: 0;
  margin-bottom: 2em;
}

.bignav {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.75em;
  justify-items: center;
  margin-bottom: 2em;
  a {
    color: $brown-fg;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
  }
}
