@import "colors";

body {
  width: 35em;
  margin: 0 auto;
  font-family: Consolas, monaco, monospace;
  background-color: $blue-bg;
  color: $tan-fg;
}

code {
  font-family: Consolas, monaco, monospace;
  background-color: $solarflare-bg;
  color: $solarflare-fg;
}

a {
  color: $brown-fg;
}

h1 {
  color: $lightblue-fg;
  a {
    color: $lightblue-fg;
    text-decoration: none;
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: $darktan-fg;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 2em;
  margin-bottom: 1em;
}

p,
ul,
ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul,
ol {
  li {
    margin-bottom: 0.5em;
  }
}

blockquote {
  margin-left: 0.2em;
  padding-left: 0.8em;
  border-left: 0.2em solid $blockquote-fg;
  background-color: $blockquote-bg;
  color: $blockquote-fg;
}

@media (max-width: 40em) {
  body {
    width: 90%;
    font-size: 1.6em;
  }
}
