<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% block description %}{% if page %}{{ page.description }}{% elif section %}{{ section.description }}{% endif %}{% endblock description %}" />
    <title>{% block title %}wolfgirl.dev - {% if page %}{{ page.title }}{% elif section %}{{ section.title }}{% else %}PolyWolf{% endif %}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    {% set favicon32 = resize_image(path="static/favicon.png", width=32, height=32, op="scale") %}
    <link rel="icon" type="image/png" href="{{ favicon32.url }}" sizes="32x32" />
    {% set favicon16 = resize_image(path="static/favicon.png", width=16, height=16, op="scale") %}
    <link rel="icon" type="image/png" href="{{ favicon16.url }}" sizes="16x16" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/fira_code.css" />
    {% block extra_css %}{% endblock extra_css %}
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    <header>
      {% block header %}
      <h1><a href="/">{% if page %}{{ page.title }}{% elif section %}{{ section.title }}{% else %}idk{% endif %}</a></h1>
      {% endblock header %}
    </header>
    <main>
      {% block content %}
      {% if page %}
        {{ page.content | safe }}
      {% elif section %}
        {{ section.content | safe }}
      {% endif %}
      {% endblock content %}
    </main>
    <footer>
      {% block footer %}
      <nav>
        <a href="/">Home</a>
      </nav>
      {% endblock footer %}
    </footer>
    {% endblock body %}
  </body>
</html>
