---
import Base, { type BaseProps } from "./Base.astro";
import RandomHeaderPfp from "../components/RandomHeaderPfp.astro";
import { SITE_URL } from "../data/url";

import "../scss/post.scss";

interface Props extends BaseProps {
  sectionTitle: string;
  homeLink: string;
  rssLink?: string;
}

const { sectionTitle, homeLink, rssLink, ...props } = Astro.props;
---

<Base {...props}>
  <Fragment slot="head">
    <link
      rel="alternate"
      type="application/rss+xml"
      title={sectionTitle}
      href={new URL(rssLink ?? `${homeLink}rss.xml`, SITE_URL)}
    />
    <slot name="head" />
  </Fragment>
  <header slot="header">
    <RandomHeaderPfp />
    <div>
      <h2><a href={homeLink}>{sectionTitle}</a></h2>
      <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/friends/">Friends</a>
        <a href="/art/">Art</a>
        <a href="/blog/">Blog</a>
        <a href="/cybersec/">Cybersec</a>
      </nav>
    </div>
  </header>
  <slot />
  <slot name="footer" slot="footer" />
</Base>
