---
import { getCollection } from "astro:content";
import Page from "../../templates/Default.astro";
import PostLink from "../../components/blog/PostLink.astro";

const posts = await getCollection("blog");
posts.sort((post1, post2) =>
  post1.data.published < post2.data.published ? 1 : -1
);
---

<Page title={"PolyWolf's Blog"} description={"A blog, written by your's truly"}>
  <link
    slot="head"
    rel="alternate"
    type="application/rss+xml"
    title="PolyWolf's Blog"
    href="https://wolfgirl.dev/blog/rss.xml"
  />
  <p> I have a blog! There may be many blogs like it, but this one is mine! </p>
  <p>
    Some recent posts:
    <ul>
      <li>{posts.slice(0, 10).map((post) => <PostLink post={post} />)}</li>
    </ul>
  </p>
</Page>
