---
import Page from "../../templates/Default.astro";
import PostLink from "../../components/blog/PostLink.astro";
import { SITE_URL } from "../../data/url";
import { getBlogData } from "../../data/blog";

const data = await getBlogData();
---

<Page title={"PolyWolf's Blog"} description={"A blog, written by your's truly"}>
  <link
    slot="head"
    rel="alternate"
    type="application/rss+xml"
    title="PolyWolf's Blog"
    href={new URL("/blog/rss.xml", SITE_URL.origin)}
  />
  <p> I have a blog! There may be many blogs like it, but this one is mine! </p>
  <p>
    Some recent posts:
    <ul>
      <li>{data.slice(0, 10).map((data) => <PostLink data={data} />)}</li>
    </ul>
  </p>
  <p>...or, browse a list of <a href="/tags/">tags</a>.</p>
</Page>
