---
import Post from "../../templates/Post.astro";
import PostLink from "../../components/blog/PostLink.astro";
import { getBlogData } from "../../data/blog";

const data = await getBlogData();
---

<Post
  section_title="PolyWolf's Blog"
  home_link="/blog/"
  title="Blog"
  description="The homepage for my blog"
>
  <p> I have a blog! There may be many blogs like it, but this one is mine! </p>
  <p>
    Some recent posts:
    <ul>
      {
        data.slice(0, 10).map((data) => (
          <li>
            <PostLink data={data} />
          </li>
        ))
      }
    </ul>
  </p>
  <p>...or, browse a list of <a href="/tags/">tags</a>.</p>
</Post>
