---
interface Props {
  id: string;
}
const { id } = Astro.props;
---

<li id={`note-${id}`} data-num={id}>
  <slot />
  <a
    href={`#note-ref-${id}`}
    data-footnote-backref
    aria-label=`Back to reference ${id}`
    class="data-footnote-backref">↩</a
  >
</li>

<style>
  li::marker {
    content: attr(data-num) ". ";
  }
</style>
