{% macro art_with_clickthrough(path, artist=false) %}
  <p>
    {% if artist %}Comm by {{ self::link_to_twitter(username=artist) }}. {% endif %}<a href="{{ path }}">Click Through To See</a>
{% endmacro art_with_clickthrough %}

{% macro art_with_clickthrough_end() %}
  </p>
{% endmacro art_with_clickthrough_end %}