---
import { getBlogDataByTag, type BlogData } from "../../data/blog";
import Post from "../../templates/Post.astro";
import PostLink from "../../components/blog/PostLink.astro";
import type { GetStaticPaths } from "astro";

interface Props {
  tag: string;
  data: BlogData[];
}

export const getStaticPaths = (async () => {
  const byTag = await getBlogDataByTag();
  const entries = [...byTag.entries()].toSorted(
    ([, dataA], [, dataB]) => dataB.length - dataA.length
  );
  return entries.map(([tag, data]) => ({
    params: {
      tag,
    },
    props: { tag, data },
  }));
}) satisfies GetStaticPaths;

const { tag, data } = Astro.props;
---

<Post
  section_title="PolyWolf's Blog"
  home_link="/blog/"
  title={`#${tag}`}
  description={`All my blog posts tagged with #${tag}!`}
>
  <span style="display: inline-flex; align-items: center; gap: 1rem;">
    <h1>#{tag}</h1>
    <a href="/tags/">All Tags</a>
  </span>
  <ul>
    {
      data.map((data) => (
        <li>
          <PostLink data={data} />
        </li>
      ))
    }
  </ul>
</Post>
