---
import TagLink from "../../components/blog/TagLink.astro";
import { getBlogDataByTag } from "../../data/blog";
import Post from "../../templates/Post.astro";

const byTag = await getBlogDataByTag();
const entries = [...byTag.entries()]
  .toSorted(([, dataA], [, dataB]) => dataB.length - dataA.length)
  .map(([tag, data]) => ({ tag, num: data.length }));
---

<Post
  sectionTitle="PolyWolf's Blog"
  homeLink="/blog/"
  title="Tags"
  description="A list of all tags on my site, which lead you to blog posts tagged with those tags!"
>
  <h1>Tags</h1>
  <ul>
    {
      entries.map(({ tag, num }) => (
        <li>
          <TagLink tag={tag} /> ({num})
        </li>
      ))
    }
  </ul>
</Post>
