---
import Base from "../templates/Base.astro";
import ArtImage from "../components/art/ArtImage.astro";
import { getArtPosts } from "../data/art.ts";

import "../scss/page.scss";

const artPosts = await getArtPosts();
---

<style>
  .grid {
    display: grid;
    grid: auto-flow / repeat(auto-fit, minmax(calc(256px + 16px + 2px), 1fr));
  }
</style>

<Base
  title="Art"
  description="Collection of art references for me, PolyWolf! I put all my commisions here, as well as the occasional art I do myself :)"
>
  <div class="grid">
    {artPosts.map((post) => <ArtImage post={post} />)}
  </div>
  <p>
    ...and I don't really want to show any earlier ones since the reference has
    changed a lot, and I was <em>much</em> worse at art too :P. If you do really
    want to see <i>everything</i>, see <a
      href="https://www.deviantart.com/p0lyw0lf/gallery/78254173/polywolf"
      rel="noopener"
      target="_blank">my deviantart gallery</a
    >.
  </p>
</Base>
