---
import Base from "../templates/Base.astro";
import ArtWithClickthrough from "../components/art/ArtWithClickthrough.astro";
import ArtWithDesc from "../components/art/ArtWithDesc.astro";
import TwitterLink from "../components/TwitterLink.astro";
import InstagramLink from "../components/InstagramLink.astro";
import BskyLink from "../components/BskyLink.astro";

import "../scss/page.scss";
---

<Base
  title="Art"
  description="Collection of art references for me, PolyWolf! I put all my commisions here, as well as the occasional art I do myself :)"
>
  <p>
    All artwork is in chronologically descending order. Click on any image for a
    link to the full resolution version! (Copyright stays w/ me and the artist)
  </p>
  <h2>"Current" PolyWolf</h2>
  <p>Pictures of me, the wolfgirl who made this website!</p>
  <h3>References</h3>
  <p>
    Hi! If you're an artist I pointed at this page, these are the pictures I
    think you should use as reference for what PolyWolf looks like!
  </p>
  <h3>Other</h3>
  <p>
    ...and I don't really want to show any earlier ones since the reference has
    changed a lot, and I was <em>much</em> worse at art too :P. If you do really
    want to see <i>everything</i>, see <a
      href="https://www.deviantart.com/p0lyw0lf/gallery/78254173/polywolf"
      rel="noopener"
      target="_blank">my deviantart gallery</a
    >.
  </p>
  <h3>NSFW</h3>
  <h2>"Original" PolyWolf</h2>
  <p>
    These are references for the original "PolyWolf" I doodled and decided to
    make into a username. These pieces have aged much better lol
  </p>
</Base>
