---
import Base from "../templates/Base.astro";
import ArtWithClickthrough from "../components/art/ArtWithClickthrough.astro";
import ArtWithDesc from "../components/art/ArtWithDesc.astro";
import TwitterLink from "../components/TwitterLink.astro";
import InstagramLink from "../components/InstagramLink.astro";
import BskyLink from "../components/BskyLink.astro";

import "../scss/page.scss";
---

<Base
  title="Art"
  description="Collection of art references for me, PolyWolf! I put all my commisions here, as well as the occasional art I do myself :)"
>
  <p>
    All artwork is in chronologically descending order. Click on any image for a
    link to the full resolution version! (Copyright stays w/ me and the artist)
  </p>
  <h2>"Current" PolyWolf</h2>
  <p>Pictures of me, the wolfgirl who made this website!</p>
  <h3>References</h3>
  <p>
    Hi! If you're an artist I pointed at this page, these are the pictures I
    think you should use as reference for what PolyWolf looks like!
  </p>
  <ArtWithDesc
    images={[
      {
        src: "_2023-02-sidelunge.png",
        title: "working out!!",
        alt: "PolyWolf doing a side lunge, wearing a sports bra and spats",
        dims: { width: 320, height: 300 },
      },
    ]}
  >
    I made this one! I started it in Oct 2022, got all the way through flat
    colors, and then just... didn't finish it oops. I finished it in Feb 2023,
    having time after daily Figuary practice is nice lol
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2023-01-gmang.png",
        title: "she's confident in her great figure ;)",
        alt: "PolyWolf condifently posing in a scenic winter forest",
      },
    ]}
  >
    Comm by <TwitterLink username="_Gmang" />, been waiting for this one and it
    was <em>so worth it OMG</em>, she looks so good like this. I used this as a
    pfp for a long time, perhaps my most recognizable one.
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-09-sniper.png",
        title: "watch out she's got a gun!!",
        alt: "PolyWolf in a sniper outfit with a gun",
      },
    ]}
  >
    Comm by <TwitterLink username="19Vodnik" />, they did a great job with the
    ghillie suit design! I am holding a <a
      href="https://en.wikipedia.org/wiki/Remington_MSR">Remington MSR</a
    > in this picture
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-07-baseball.jpg",
        title: "so sporty!!",
        alt: "PolyWolf in a baseball outfit",
      },
    ]}
  >
    Comm by <TwitterLink username="coredo9" />, I love the baseball outfit and
    rendering!! This is my current desktop wallpaper :3
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-01-pfp.png",
        title: "she's saying hai :)",
        alt: "PolyWolf in a snowy forest waving hi",
      },
    ]}
  >
    Comm by <TwitterLink username="jknor719" />, first pfp that I commissioned,
    and a really good one at that.
  </ArtWithDesc>
  <h3>Other</h3>
  <ArtWithDesc
    images={[
      {
        src: "_2025-04-cuddle.png",
        title: "she loves her blahaj",
        alt: "PolyWolf lounges in bed cuddling a blahaj shark plushie",
      },
    ]}
  >
    By <BskyLink handle="iahtruong.bsky.social" />! Really like their soft +
    cozy style, this piece turned out well. <s>i do this :3</s>
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "ss/_2024_elan.jpg",
        title: "so cute,,,",
        alt: "PolyWolf chibi-style wearing her classic coat in soft, expressive brushstrokes, holding a puppy",
      },
    ]}
  >
    Secret Santa 2024!! This time, it's an offshoot of AAC consisting of alum
    from around the time I was there. Neat group of people, all very talented
    artists. This piece is by one who wishes to remain anonymous :)
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2024-10-snow.png",
        title: "waiting for something",
        alt: "PolyWolf, dressed in techwear, stands alone on a snowy train platform under a single orange sodium lamp, holding a large case.",
      },
    ]}
  >
    I had <em>just</em> found out that <BskyLink
      handle="dangatu.bsky.social"
    />, previously <TwitterLink username="daanboii" /> on Twitter, joined Bluesky,
    when they opened commissions, and I knew I had to get something. Very very excited
    about this commission, they captured the mood I wanted perfectly, this is now
    my lock screen :3
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2024-07-princess.png",
        title: "the world belongs to her >:)",
        alt: "PolyWolf in a military-style prince outfit with a crown on her head, sassily sticking her tongue out at the viewer",
      },
    ]}
  >
    I was fortunate enough to be able to commission <InstagramLink
      username="stars_upon_stars"
    /> for this one!! I love all her art, she makes me look so cool...
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2024-07-pfp.png",
        title: "she's happy to be here :)",
        alt: "PolyWolf in a hat standing on a bridge waving",
      },
    ]}
  >
    I made this one! It's my most recent pfp on most all sites. I don't include
    it as reference since I'm very rusty at art so it didn't turn out too great
    at anything besides pfp resolution...
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2024-05-bunnysuit.png",
        title: "bunnysuit!!",
        alt: "PolyWolf playfully lounging upside-down in a bunnysuit",
      },
    ]}
  >
    Comm by <TwitterLink username="lilirulu" />, can you believe it's been a
    full year since I got a commission?? and for another easter event too
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "artfight/_2023_spect_ion.jpg",
        title: "watch out she's got a gun!!",
        alt: 'PolyWolf holding a sniper rifle above her head in the forest, surrounded by the text "WOLF ON THE HUNT"',
      },
    ]}
  >
    Artfight 2023!! I wasn't too active this year, so didn't get a whole lot in
    return, but still this image by <TwitterLink username="spect_ion" /> is SO GOOD,
    I use it as my banner a lot
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2023-05-bunnysuit.png",
        title: "another bunnysuit!!",
        alt: "PolyWolf in a black bunnysuit holding a carrot",
      },
    ]}
  >
    Comm by <TwitterLink username="KamiNoodles" /> (KamiShiro), super cute Easter
    special!!
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "ss/_2023_jay-day.jpg",
        title: "watching by day..",
        alt: "PolyWolf in a winter sniper outfit looks over a snowbank",
      },
      {
        src: "ss/_2023_jay-night.jpg",
        title: "..and by night",
        alt: "Same scene at night",
      },
    ]}
  >
    Secret Santa 2023! Idk why I skipped 2022, getting such great PolyWolf art
    from AAC can't be beat
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-11-star-sketch.jpg",
        title: "so pretty...",
        alt: "Sketch of PolyWolf",
      },
    ]}
  >
    Another gift from <InstagramLink username="stars_upon_stars" />! She is
    drawing a bunch of ppls OCs and mine was in the pool :)
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-10-hoodie-1.jpg",
        title: "lounging around!",
        alt: "PolyWolf lying on her side on a bed",
        dims: { width: 320, height: 300 },
      },
      {
        src: "_2022-10-hoodie-2.jpg",
        title: "smug polywolf ;)",
        alt: "PolyWolf smiles down at you",
        dims: { width: 200, height: 200 },
      },
    ]}
  >
    Comm by <TwitterLink username="AneBunBun" />, I am in a comfy outfit on a
    comfy bed! Artist threw in an extra image too which was really nice!!
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-10-star-buffed.jpg",
        title: "she is very stronk now",
        alt: "PolyWolf with an absurd amount of muscles",
      },
    ]}
  >
    Gift from <InstagramLink username="stars_upon_stars" />! This is very silly
    but I love it!!
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-10-furry.png",
        title: "I'm a furry now!!",
        alt: "PolyWolf as a full furry",
      },
    ]}
  >
    Comm by <TwitterLink username="woobin94" />! I really really really love
    their design of me as a furry! May have to draw her like this more ;)
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-09-sketchbook.jpg",
        title: "cute wolfgirl in various situations",
        alt: "PolyWolf in various outfits",
      },
    ]}
  >
    Comm by <TwitterLink username="samipekoe" />, these are some of my favorite
    outfits :) Look at her go!
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-08-snow.jpg",
        title: "such great brushwork",
        alt: "PolyWolf looks over her shoulder",
      },
    ]}
  >
    Comm by <TwitterLink username="RamenNamenn" />, I love their brushwork and
    color choices, they did a great job of adapting my pose request too!
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      { src: "artfight/_2022_fwizz.png", alt: "PolyWolf by fwizz" },
      { src: "artfight/_2022_nacl.png", alt: "PolyWolf by sodilco" },
      {
        src: "artfight/_2022_octis.png",
        alt: "PolyWolf by Octis, with some other characters",
      },
      { src: "artfight/_2022_ramenbucket.jpg", alt: "PolyWolf by ramenbucket" },
      { src: "artfight/_2022_sharon.png", alt: "PolyWolf by sharon" },
      { src: "artfight/_2022_solosis.jpg", alt: "PolyWolf by solosis" },
      { src: "artfight/_2022_toshca.png", alt: "PolyWolf by toshca" },
    ]}
  >
    Artfight 2022! (I did not participate in 2021 whoops). Bigger haul than
    previous years, some of these (esp the collage??) are p epic B)
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-07-fila.png",
        title: "lovely summer wear!",
        alt: "PolyWolf in a sun hat",
      },
    ]}
  >
    Comm by <TwitterLink username="kayadesu_yo" />, such great texture and soft
    lighting, very colorful (I may have gone overboard on the requested outfit
    colors lol).
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-07-legs-spread.png",
        title: "spead em ;)",
        alt: "PolyWolf in cargo shorts doing side splits",
      },
    ]}
  >
    I did this one! Fully clothed, but the angle is um interesting. Tried to do
    lineless/soft brushwork on this, ended up a little too soft maybe
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-07-techwear.png",
        title: "GREAT atmosphere",
        alt: "PolyWolf in techwear sitting on a rooftop at night",
      },
    ]}
  >
    Comm by <TwitterLink username="daanboii" />, great outfit design, love the
    atmosphere and color choices in this piece. They have a great artistic
    vision :)
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2022-03-lewd.png",
        title: "oh BIG stretch",
        alt: "PolyWolf in a one-piece swimsuit stretching her tricep",
      },
    ]}
  >
    Comm by <TwitterLink username="R_ev60" />, doing a stretch in a swimsuit ;)
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "ss/_2021_sonya.jpg",
        alt: "PolyWolf with two australian shepherds",
      },
    ]}
  >
    Secret Santa 2021! I asked for "my OC" OR "my dogs" and got BOTH! Super
    cute!!
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2021-12-shadow.png",
        title: "powerful stride",
        alt: "PolyWolf walking confidently",
      },
    ]}
  >
    Comm by <TwitterLink username="BokuRikuz" />. Man I just love the lighting
    on this piece! I still use it as a lockscreen bg, it's so good
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2021-06.png",
        title: "wowow backgrounds",
        alt: "PolyWolf stretching on a beach towel",
      },
    ]}
  >
    I did this one! It's me, stretching on a beach, under an umbrella. This was
    my second time drawing backgrounds, and also this was before I decided she
    had a tail.
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "ss/_2020_jay.png",
        title: "comfy in the snow :)",
        alt: "PolyWolf sits in the snow",
      },
    ]}
  >
    Secret Santa 2020! One of my favorite atmospheres, she is enjoying the snow
    :)
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2020-12.png",
        title: "resting pose",
        alt: "PolyWolf poses with hands on locked knees",
      },
    ]}
  >
    The one where I tried to decide on a name. Because 'PolyWolf' was supposed
    to be for the older one, but after trying out this Japanese name (bonus
    points if u can read the Katakana) I decided just to have PolyWolf be my
    name too :)
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      { src: "artfight/_2020_emu.png", alt: "PolyWolf by emu" },
      { src: "artfight/_2020_gary.png", alt: "PolyWolf by gary" },
      { src: "artfight/_2020_vivi.jpg", alt: "PolyWolf by vivi" },
      { src: "artfight/_2020_xireth.png", alt: "PolyWolf by xireth" },
    ]}
  >
    Artfight 2020! Second artfight, got some more extremely good art :)
  </ArtWithDesc>
  <ArtWithDesc images={[{ src: "ss/_2019_biff.png", alt: "PolyWolf by biff" }]}>
    Secret Santa 2019! Realism works really well actually!
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      { src: "artfight/_2019_alyssa.png", alt: "PolyWolf by alyssa" },
      { src: "artfight/_2019_eunice.png", alt: "PolyWolf by eunice" },
      { src: "artfight/_2019_sanjay.jpg", alt: "PolyWolf by sanjay" },
      { src: "artfight/_2019_xiang.png", alt: "PolyWolf by xiang" },
    ]}
  >
    Artfight 2019! This was my first Artfight and I got a lot of good art :)
  </ArtWithDesc>
  <p>
    ...and I don't really want to show any earlier ones since the reference has
    changed a lot, and I was <em>much</em> worse at art too :P. If you do really
    want to see <i>everything</i>, see <a
      href="https://www.deviantart.com/p0lyw0lf/gallery/78254173/polywolf"
      rel="noopener"
      target="_blank">my deviantart gallery</a
    >.
  </p>
  <h3>NSFW</h3>
  <ArtWithClickthrough src={"_2023-01-towel.png"}>
    <slot name="by">
      Comm by <TwitterLink username="MauLegend" />.
    </slot>
    Flustered with just a towel 😳
  </ArtWithClickthrough>
  <ArtWithClickthrough src={"_2022-10-lean.png"}>
    I did this one! Inspired by... certain artists, "non-canon" proportions (esp
    w/ missing her tail), learned a lot about Procreate (for iPad) in the
    process of making this.
  </ArtWithClickthrough>
  <ArtWithClickthrough src={"_2022-08-dakimakura.jpg"}>
    <slot name="by">
      Comm by <TwitterLink username="AllanelArt" />.
    </slot>
    PolyWolf dakimakura style!
  </ArtWithClickthrough>
  <ArtWithClickthrough src={"_2022-06-collar.jpg"}>
    <slot name="by">
      Comm by <TwitterLink username="Nyapii2" />.
    </slot>
    saucy lingerie ;)
  </ArtWithClickthrough>
  <h2>"Original" PolyWolf</h2>
  <p>
    These are references for the original "PolyWolf" I doodled and decided to
    make into a username. These pieces have aged much better lol
  </p>
  <ArtWithDesc
    images={[
      {
        src: "_2018-04.png",
        title: "it's (young?) me!",
        alt: "A wolf head made of polygons",
      },
    ]}
  >
    mwah. just look at that polygonal goodness. I still absolutely adore this
    pfp, what a great color scheme and design (if I do say so myself).
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2017-12-desktop.png",
        title: "wowow doin a run",
        alt: "A wolf made of polygons running",
      },
    ]}
  >
    A lot of my newer backgrounds also had this 'thick outline on a solid bg'
    look, idk what it is but I really like it
  </ArtWithDesc>
  <ArtWithDesc
    images={[
      {
        src: "_2017-12-mobile.png",
        title: "calm little sit",
        alt: "A wolf made of polygons sitting down",
      },
    ]}
  >
    And this was the mobile background at the time. I think ever since this I
    have always had PolyWolf art as my desktop/phone bg, which is really cool
    and also a great motivator for me to get better at art. Both this and the
    previous image were 'traced' from photos of actual wolves, but artistically
    converted into polygons. And now u know my name origin story :)
  </ArtWithDesc>
</Base>
