---
import { toArtUrl } from "../../data/url";

interface Props {
  src: string;
}

const { src } = Astro.props;
---

<p>
  <slot name="by" />
  <a href={toArtUrl(src)}>Click Through to see</a>
  <slot />
</p>
