---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"cybersec">;
}

const { post } = Astro.props;
---

{post.slug.slice(0, 10)}: <a href={post.slug}>{post.data.title}</a>
(<a href={post.data.direct_link}>source</a>)
