---
import type { CollectionEntry } from "astro:content";
import { toCybersecUrl } from "../../data/url";

interface Props {
  post: CollectionEntry<"cybersec">;
}

const { post } = Astro.props;
---

{post.id.slice(0, 10)}: <a href={toCybersecUrl(post.id)}>{post.data.title}</a>
(<a href={post.data.repost_link}>source</a>)
