---
import type { AstroComponentFactory } from "astro/runtime/server/render/index.js";
import { experimental_AstroContainer as AstroContainer } from "astro/container";

interface Props {
  Component: AstroComponentFactory;
  propChoices: Record<string, any>[]; // eslint-disable-line
  id: string;
}

const { Component, propChoices, id } = Astro.props;

const container = await AstroContainer.create();

const htmlChoices = await Promise.all(
  propChoices.map(async (props) => {
    const html = await container.renderToString(Component, {
      props,
    });
    return html;
  })
);

const script = `
  const figure = document.getElementById("pfp");
  const pfps = [${htmlChoices.map((html) => JSON.stringify(html)).join(",")}];
  const index = Math.floor(Math.random()*pfps.length);
  figure.innerHTML = pfps[index];
`;
---

<div id={id}>
  <noscript set:html={htmlChoices[0]} />
</div>

<script is:inline set:html={script} />
