{% extends "page.html" %}
{% import "art_macros.html" as macros %}

{% block content %}
  <p>All artwork is in chronologically descending order.</p>
  <h2>"Current" PolyWolf</h2>
  <p>These are references for me, the wolfgirl who made this website!</p>
  {{ macros::art_with_desc(path="/art/2022-07-baseball.jpg", title="So sporty!!") }}
  Comm by {{ macros::link_to_twitter(username="coredo9") }}, I love the baseball outfit!
  {{ macros::art_with_desc_end() }}
  {{ macros::art_with_desc(path="/art/2022-01-pfp.png", title="wow same as the main page") }}
  My latest profile picture, by {{ macros::link_to_twitter(username="jknor719") }}, first pfp that I commissioned
  {{ macros::art_with_desc_end()}}
  {{ macros::art_with_desc(path="/art/2021-12-shadow.png", title="originally i wanted to draw a snowy background for this one too but it's hard, blurry one for the other was made using skills acquired during the failed attempt at this one") }}
  My latest background image, commissioned from {{ macros::link_to_twitter(username="BokuRikuz") }}. Man I just love the lighting on this piece!
  {{ macros::art_with_desc_end() }}
  {{ macros::art_with_desc(path="/art/2021-06.png", title="wowow backgrounds") }}
  I did this one! It's me, stretching on a beach, under an umbrella. This was my second time drawing backgrounds.
  {{ macros::art_with_desc_end() }}
  {{ macros::art_with_desc(path="/art/2020-12.png", title="for this and the other i manually posed to get the proportions roughly right") }}
  The one where I tried to decide on a name. Because 'PolyWolf' was supposed to be for the older one, but after trying out this Japanese name (bonus points if u can read the Katakana) I decided just to have PolyWolf be my name too :)
  {{ macros::art_with_desc_end() }}
  <p>...and I don't really want to show any earlier ones since the reference has changed a lot, and I was <em>much</em> worse at art too :P. If you do really want to see <i>everything</i>, see <a href="https://www.deviantart.com/p0lyw0lf/gallery/78254173/polywolf" rel="noopener" target="_blank">my deviantart gallery</a>.</p>
  <h3>NSFW "Current" PolyWolf</h3>
  {{ macros::art_with_clickthrough(path="/art/2022-06-collar.jpg", artist="Nyapii2") }}
  saucy lingerie ;)
  {{ macros::art_with_clickthrough_end() }}
  {{ macros::art_with_clickthrough(path="/art/2022-03-lewd.png", artist="R_ev60") }}
  saucy swimsuit ;)
  {{ macros::art_with_clickthrough_end() }}
  <h2>"Original" PolyWolf</h2>
  <p>These are references for the original "PolyWolf" I doodled and decided to make into a username. These pieces have aged much better lol</p>
  {{ macros::art_with_desc(path="/art/2018-04.png", description="mwah. just look at that polygonal goodness. I still absolutely adore this pfp, what a great color scheme and design (if I do say so myself).", title="it's (young?) me!") }}
  {{ macros::art_with_desc(path="/art/2017-12-desktop.png", description="A lot of my newer backgrounds also had this 'thick outline on a solid bg' look, idk what it is but I really like it", title="wowow doin a run") }}
  {{ macros::art_with_desc(path="/art/2017-12-mobile.png", description="And this was the mobile background at the time. I think ever since this I have always had PolyWolf art as my desktop/phone bg, which is really cool and also a great motivator for me to get better at art", title="Both this and the previous image were 'traced' from photos of actual wolves, but artistically converted into polygons") }}
{% endblock content %}
