---
import type { BlogData } from "../../data/blog";

interface Props {
  data: BlogData;
}

const { data } = Astro.props;
---

{
  data.published.toLocaleDateString("en-US", {
    timeZone: "America/New_York",
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
  })
}: <a href={data.url}>{data.title}</a>
