@import "dims";
@import "semantic_colors";

body {
  margin: 0;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: var(--dim-font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
  }
}

blockquote {
  margin-left: 0.2em;
  padding-left: 0.8em;
  border-left: 0.2em solid var(--color-text-tertiary);
  background-color: var(--color-background-tertiary);
  color: var(--color-text-tertiary);

  a {
    color: var(--color-text-tertiary) !important;
  }
}

code {
  font-family: Consolas, monaco, monospace;
  background-color: var(--color-background-tertiary);
  color: var(--color-text-tertiary);
}

.astro-code code {
  background-color: inherit;
}
