@use "dims";
@use "semantic_colors";

body {
  margin: 0;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: var(--dim-font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
  }
}

code {
  font-family: Consolas, monaco, monospace;
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary-accent);
}

blockquote {
  margin-left: 0.2em;
  padding-left: 0.8em;
  border-left: 0.2em solid var(--color-text-secondary-accent);
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);

  code {
    background-color: var(--color-background-primary);
    color: var(--color-text-secondary-accent);
  }
}

.astro-code code {
  background-color: inherit;
}
