@use "dims";
@use "semantic_colors";

body {
  margin: 0;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: var(--dim-font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
  }
}
