@use "breakpoints";

:root {
  --dim-font-regular: 1.25rem;
  --dim-font-large: 2rem;
  --dim-border: 1px;
}

@media (min-width: breakpoints.$breakpoint-ipad) {
  :root {
    --dim-font-regular: 1rem;
  }
}

@media (min-width: breakpoints.$breakpoint-desktop) {
  :root {
    --dim-font-regular: 0.875rem;
    --dim-font-large: 1.75rem;
  }
}
