:root {
  /* Original: --color-cherry: rgb(131, 37, 79); */
  --color-cherry: rgb(124, 12, 63);
  /* Original: --color-strawberry: rgb(229, 107, 111); */
  --color-strawberry: rgb(255, 124, 129);
  --color-mango: rgb(255, 171, 92);
  --color-longan: rgb(255, 216, 168);

  --color-blue: rgb(0, 77, 159);

  --color-white: rgb(255, 255, 255);
  --color-off-white: rgb(255, 249, 242);
  --color-light-gray: rgb(186, 183, 180);
  --color-dark-gray: rgb(78, 78, 77);
  --color-off-black: rgb(25, 25, 25);
  --color-black: rgb(0, 0, 0);
}
