:root {
  --color-dark-blue: rgb(17, 31, 46);
  --color-light-blue: rgb(207, 237, 211);
  --color-dark-tan: rgb(253, 143, 83);
  --color-light-tan: rgb(240, 206, 176);
  --color-orange: rgb(250, 114, 76);
  --color-red: rgb(214, 60, 46);

  --color-white: rgb(255, 255, 255);
  --color-off-white: rgb(255, 249, 242);
  --color-light-gray: rgb(186, 183, 180);
  --color-dark-gray: rgb(78, 78, 77);
  --color-off-black: rgb(25, 25, 25);
  --color-black: rgb(0, 0, 0);
}
