@use "palette_colors";

/* Dark theme by default */
:root {
  /*
   * Backgrounds are ordered from back to front
   */
  --color-background-primary: var(--color-black);
  --color-background-secondary: var(--color-off-black);
  --color-background-tertiary: var(--color-dark-blue);

  /*
   * Each of these text colors goes on the aforementioned background color
   */
  --color-text-primary: var(--color-white);
  --color-text-primary-accent: var(--color-dark-tan);
  --color-text-secondary: var(--color-white);
  --color-text-secondary-accent: var(--color-light-blue);
  --color-text-tertiary: var(--color-dark-tan);

  --color-border-primary: var(--color-dark-gray);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background-primary: var(--color-white);
    --color-background-secondary: var(--color-off-white);
    --color-background-tertiary: var(--color-light-tan);

    --color-text-primary: var(--color-black);
    --color-text-primary-accent: var(--color-dark-blue);
    --color-text-secondary: var(--color-black);
    --color-text-secondary-accent: var(--color-dark-tan);
    --color-text-tertiary: var(--color-red);

    --color-border-primary: var(--color-light-gray);
  }
}
